root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{cs,vb}]
file_header_template = // QuickTranslate\n// Copyright (c) 2026 QuickTranslate. All rights reserved.
dotnet_diagnostic.IDE0055.severity = suggestion
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
csharp_style_namespace_declarations = file_scoped:error
csharp_style_prefer_top_level_statements = true:silent
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_implicit_object_creation_when_type_is_apparent = true:suggestion
csharp_style_prefer_index_operator = true:suggestion
csharp_style_prefer_range_operator = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_prefer_braces = true:silent
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
csharp_style_unused_value_assignment_preference = discard_variable:suggestion
csharp_style_prefer_method_group_conversion = true:silent
dotnet_diagnostic.CA1001.severity = warning
dotnet_diagnostic.CA1002.severity = warning
dotnet_diagnostic.CA1008.severity = warning
dotnet_diagnostic.CA1012.severity = warning
dotnet_diagnostic.CA1014.severity = warning
dotnet_diagnostic.CA1021.severity = warning
dotnet_diagnostic.CA1031.severity = warning
dotnet_diagnostic.CA1049.severity = warning
dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA1068.severity = warning
dotnet_diagnostic.CA1070.severity = warning
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = warning
dotnet_diagnostic.CA1305.severity = warning
dotnet_diagnostic.CA1307.severity = warning
dotnet_diagnostic.CA1308.severity = warning
dotnet_diagnostic.CA1309.severity = warning
dotnet_diagnostic.CA1310.severity = warning
dotnet_diagnostic.CA1508.severity = warning
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1835.severity = warning
dotnet_diagnostic.CA2007.severity = warning
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.CA2100.severity = warning
dotnet_diagnostic.CA2208.severity = warning
dotnet_diagnostic.CA2211.severity = warning
dotnet_diagnostic.CA2217.severity = warning
dotnet_diagnostic.CA2225.severity = warning
dotnet_diagnostic.CA2227.severity = warning
dotnet_diagnostic.CA2229.severity = warning
dotnet_diagnostic.CA2231.severity = warning
dotnet_diagnostic.CA2234.severity = warning
dotnet_diagnostic.CA2241.severity = warning
dotnet_diagnostic.CA2242.severity = warning
dotnet_diagnostic.CA5350.severity = warning
dotnet_diagnostic.CA5351.severity = warning
dotnet_diagnostic.CA5369.severity = warning
dotnet_diagnostic.CA5370.severity = warning
dotnet_diagnostic.CA5371.severity = warning
dotnet_diagnostic.CA5372.severity = warning
dotnet_diagnostic.CA5373.severity = warning
dotnet_diagnostic.CA5374.severity = warning
dotnet_diagnostic.CA5375.severity = warning
dotnet_diagnostic.CA5376.severity = warning
dotnet_diagnostic.CA5377.severity = warning
dotnet_diagnostic.CA5378.severity = warning
dotnet_diagnostic.CA5379.severity = warning
dotnet_diagnostic.CA5380.severity = warning
dotnet_diagnostic.CA5381.severity = warning
dotnet_diagnostic.CA5382.severity = warning
dotnet_diagnostic.CA5383.severity = warning
dotnet_diagnostic.CA5384.severity = warning
dotnet_diagnostic.CA5385.severity = warning
dotnet_diagnostic.CA5386.severity = warning
dotnet_diagnostic.CA5387.severity = warning
dotnet_diagnostic.CA5388.severity = warning
dotnet_diagnostic.CA5389.severity = warning
dotnet_diagnostic.CA5390.severity = warning
dotnet_diagnostic.CA5391.severity = warning
dotnet_diagnostic.CA5392.severity = warning
dotnet_diagnostic.CA5393.severity = warning
dotnet_diagnostic.CA5394.severity = warning
dotnet_diagnostic.CA5395.severity = warning
dotnet_diagnostic.CA5396.severity = warning
dotnet_diagnostic.CA5397.severity = warning
dotnet_diagnostic.CA5398.severity = warning
dotnet_diagnostic.CA5399.severity = warning
dotnet_diagnostic.CA5400.severity = warning
dotnet_diagnostic.CA5401.severity = warning
dotnet_diagnostic.CA5402.severity = warning
dotnet_diagnostic.CA5403.severity = warning
dotnet_style_readonly_field = true:suggestion
dotnet_diagnostic.IDE0063.severity = silent
dotnet_diagnostic.IDE0064.severity = silent
dotnet_diagnostic.IDE0066.severity = suggestion
dotnet_diagnostic.IDE0067.severity = suggestion
dotnet_diagnostic.IDE0068.severity = suggestion
dotnet_diagnostic.IDE0069.severity = suggestion
dotnet_diagnostic.IDE0070.severity = suggestion
dotnet_diagnostic.IDE0071.severity = suggestion
dotnet_diagnostic.IDE0072.severity = suggestion
dotnet_diagnostic.IDE0073.severity = none
dotnet_diagnostic.IDE0074.severity = suggestion
dotnet_diagnostic.IDE0075.severity = suggestion
dotnet_diagnostic.IDE0076.severity = suggestion
dotnet_diagnostic.IDE0077.severity = suggestion
dotnet_diagnostic.IDE0078.severity = suggestion
dotnet_diagnostic.IDE0079.severity = suggestion
dotnet_diagnostic.IDE0080.severity = suggestion
dotnet_diagnostic.IDE0081.severity = suggestion
dotnet_diagnostic.IDE0082.severity = suggestion
dotnet_diagnostic.IDE0083.severity = suggestion
dotnet_diagnostic.IDE0084.severity = suggestion
dotnet_diagnostic.IDE0085.severity = suggestion
dotnet_diagnostic.IDE0086.severity = suggestion
dotnet_diagnostic.IDE0087.severity = suggestion
dotnet_diagnostic.IDE0088.severity = suggestion
dotnet_diagnostic.IDE0089.severity = suggestion
dotnet_diagnostic.IDE0090.severity = suggestion
dotnet_diagnostic.IDE0091.severity = suggestion
dotnet_diagnostic.IDE0092.severity = suggestion
dotnet_diagnostic.IDE0093.severity = suggestion
dotnet_diagnostic.IDE0094.severity = suggestion
dotnet_diagnostic.IDE0095.severity = suggestion
dotnet_diagnostic.IDE0096.severity = suggestion
dotnet_diagnostic.IDE0097.severity = suggestion
dotnet_diagnostic.IDE0098.severity = suggestion
dotnet_diagnostic.IDE0099.severity = suggestion
dotnet_diagnostic.IDE0100.severity = suggestion
dotnet_diagnostic.IDE0101.severity = suggestion
dotnet_diagnostic.IDE0102.severity = suggestion
dotnet_diagnostic.IDE0103.severity = suggestion
dotnet_diagnostic.IDE0104.severity = suggestion
dotnet_diagnostic.IDE0105.severity = suggestion
dotnet_diagnostic.IDE0106.severity = suggestion
dotnet_diagnostic.IDE0107.severity = suggestion
dotnet_diagnostic.IDE0108.severity = suggestion
dotnet_diagnostic.IDE0109.severity = suggestion
dotnet_diagnostic.IDE0110.severity = suggestion
dotnet_diagnostic.IDE0111.severity = suggestion
dotnet_diagnostic.IDE0112.severity = suggestion
dotnet_diagnostic.IDE0113.severity = suggestion
dotnet_diagnostic.IDE0114.severity = suggestion
dotnet_diagnostic.IDE0115.severity = suggestion
dotnet_diagnostic.IDE0116.severity = suggestion
dotnet_diagnostic.IDE0117.severity = suggestion
dotnet_diagnostic.IDE0118.severity = suggestion
dotnet_diagnostic.IDE0119.severity = suggestion
dotnet_diagnostic.IDE0120.severity = suggestion
dotnet_diagnostic.IDE0121.severity = suggestion
dotnet_diagnostic.IDE0122.severity = suggestion
dotnet_diagnostic.IDE0123.severity = suggestion
dotnet_diagnostic.IDE0124.severity = suggestion
dotnet_diagnostic.IDE0125.severity = suggestion
dotnet_diagnostic.IDE0126.severity = suggestion
dotnet_diagnostic.IDE0127.severity = suggestion
dotnet_diagnostic.IDE0128.severity = suggestion
dotnet_diagnostic.IDE0129.severity = suggestion
dotnet_diagnostic.IDE0130.severity = suggestion
dotnet_diagnostic.IDE0131.severity = suggestion
dotnet_diagnostic.IDE0132.severity = suggestion
dotnet_diagnostic.IDE0133.severity = suggestion
dotnet_diagnostic.IDE0134.severity = suggestion
dotnet_diagnostic.IDE0135.severity = suggestion
dotnet_diagnostic.IDE0136.severity = suggestion
dotnet_diagnostic.IDE0137.severity = suggestion
dotnet_diagnostic.IDE0138.severity = suggestion
dotnet_diagnostic.IDE0139.severity = suggestion
dotnet_diagnostic.IDE0140.severity = suggestion
dotnet_diagnostic.IDE0141.severity = suggestion
dotnet_diagnostic.IDE0142.severity = suggestion
dotnet_diagnostic.IDE0143.severity = suggestion
dotnet_diagnostic.IDE0144.severity = suggestion
dotnet_diagnostic.IDE0145.severity = suggestion
dotnet_diagnostic.IDE0146.severity = suggestion
dotnet_diagnostic.IDE0147.severity = suggestion
dotnet_diagnostic.IDE0148.severity = suggestion
dotnet_diagnostic.IDE0149.severity = suggestion
dotnet_diagnostic.IDE0150.severity = suggestion
dotnet_diagnostic.IDE0151.severity = suggestion
dotnet_diagnostic.IDE0152.severity = suggestion
dotnet_diagnostic.IDE0153.severity = suggestion
dotnet_diagnostic.IDE0154.severity = suggestion
dotnet_diagnostic.IDE0155.severity = suggestion
dotnet_diagnostic.IDE0156.severity = suggestion
dotnet_diagnostic.IDE0157.severity = suggestion
dotnet_diagnostic.IDE0158.severity = suggestion
dotnet_diagnostic.IDE0159.severity = suggestion
dotnet_diagnostic.IDE0160.severity = suggestion
dotnet_diagnostic.IDE0161.severity = suggestion
