<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".nuget\packages" />
    <add key="repositoryPath" value=".nuget\packages" />
    <add key="dependencyVersion" value="Highest" />
  </config>
  <packageSources>
    <clear />
    <add key="local-cache" value="E:\翻译\.nuget\packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
    <add key="local-cache-fallback" value="E:\翻译\.nuget\packages" />
  </fallbackPackageFolders>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
